<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Home</a>
  <a class="navbar-brand" href="/projects">Projects</a>
  <a class="navbar-brand" href="/posts">Posts</a>
  <a class="navbar-brand" href="/testimonials">Testimonials</a>
</nav>