.post-detail img{
    width: 500px;
    height: 300px;
}

.post-detail h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: blue;
}

.testimonial-description {
    display: block;
    margin-bottom: 10px;
}

.card {
    margin: 5px;
}

.blockquote-footer {
    color: blue;
}

.card-header {
    color: darkred;
    font-weight: bold;
}

.botao {
    margin-right: 10px;
    margin-top: 10px;
    float: right;    
}